# Sensitive / Secret files
functions/.env
functions/.secret.local
rzp-key.csv
*.csv
scripts/*.csv
scripts/serviceAccount*.json
firebase-debug*.log
deploy-log.txt

# Firebase local files
.firebase/
.firebaserc

# Node modules
node_modules/
functions/node_modules/

# Build output
dist/
.vite/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

.vercel
.env*
{
